*{
  padding: 0;
  margin: 0;
}
.App {
  padding: 2rem;
}

.movies {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.3rem;
  margin-top: 3rem;
  /* padding: 2rem; */
}
.search_nav {
  display: flex;
  align-items: center;
}

.input_text{
  display: flex;
}

